<mat-card>
    <mat-card-header>
        <mat-card-title>Nasa picture of the day</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <div class="image-container">
                <img mat-card-image [src]="imageUrl" alt="Image">
            </div>
            <div class="description-container">
                <div>{{description}}</div>
                <a class="link" [href]="imageUrl" target="_blank">Image from URL: {{imageUrl}}</a>
            </div>
        </div>
    </mat-card-content>
</mat-card>